.vs
.vscode
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64
Temp
Library
Assets/AssetBundleBrowser
*.csproj
Assets/AssetBundleBrowser.meta

Assets/codeandweb.com
Assets/codeandweb.com.meta
Assets/Editor/BuildAnimationEditor.cs
Assets/Editor/BuildAnimationEditor.cs.meta